@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-sans: "Source Sans Pro", sans-serif;
  --font-fira: "Fira Sans", sans-serif;
  --color-gold-dark: #272622;
  --color-blue: #252b42;
  --color-grey-light: #737373;
  --color-white: #ffffff;
  --color-dark: #2e2e2e;
  --color-dark-light:         
;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-fira);
  color: var(--color-white);
  font-weight: 400;
  line-height: 2.4rem;
  size: 1.4rem;
  padding: 0;
  margin: 0 auto;
  border-color: red;
}
